bootcamp11g/.vs/ProjectSettings.json
bootcamp11g/.vs/slnx.sqlite
bootcamp11g/.vs/VSWorkspaceState.json
bootcamp11g/.vs/bootcamp11g/v16/.suo
bootcamp11g/Front/LandingPage
bootcamp11g/Front/Bootstrap/C2Bootstrap
bootcamp11g/Reto
bootcamp11g/branches-git