.body{
    text-align: center;
    vertical-align: middle;
}
.h1{
    margin: auto;
    background-color: rgb(221, 154, 154);
}
.nav{
    margin: auto;
    background-color: skyblue;
}
.asid{
    background-color: lightslategray;
}
.sec {
    background-color: rgb(198, 241, 198);
    width: 50%;
 
}
.foo{
    background-color: lightsalmon;
}
.art{
    margin: auto;
    background-color: rgb(144, 134, 207);
    width: 99%;
    height: 80px;
}
.sec h1{
    width: 99%;
    backgro
}